:root {
    --blue: #3692FF;
    --gray900: #111827;
    --gray800: #1F2937;
    --gray700: #374151;
    --gray600: #4B5563;
    --gray500: #6B7280;
    --gray400: #9CA3AF;
    --gray200: #E5E7EB;
    --gray100: #F3F4F6;
    --gray50: #F9FAFB;
}

/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family:"Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; font-size: 12px; line-height: 1.3333; color: var(--gray700); }
ol, ul, li {list-style: none;}
a {color: var(--gray700); text-decoration: none;}
img {display: block;}

/* common */
/* 웹접근성 텍스트 숨김  */
.hidden {position: absolute; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; }
/* a태그, button태그 초기화 */
.a_btn {display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: none; border: none; padding: 0; margin: 0; box-shadow: none; font: inherit; color: inherit; cursor: pointer; outline: none; }
/* input태그 초기화 */
.inp {display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: none; border: none; padding: 0; margin: 0; box-shadow: none; font: inherit; color: inherit;}
/* input태그 기본디자인 */
.inp {width: 100%; height: 56px; padding: 0 48px 0 24px; background-color: var(--gray100); border-radius: 12px; border: 1px solid var(--gray100); outline: none; font-size: 16px; transition: all 0.2s;}
.inp::placeholder {color: var(--gray400);}
.inp.blue:focus {border: 1px solid var(--blue);}
/* button태그 기본디자인 */
.btn_sml {display: block; width: 128px; padding: 12px 20px; background-color: var(--blue); border-radius: 8px; color: var(--gray100); font-size: 16px; font-weight: 600; line-height: 1.5; text-align: center; transition: all 0.2s;}
.btn_lg {display: block; width: 357px; padding: 12px 20px; background-color: var(--blue); border-radius: 50px; color: var(--gray100); font-size: 20px; font-weight: 600; line-height: 1.6; text-align: center; transition: all 0.2s;}
.btn_sml:disabled,
.btn_lg:disabled {background-color: var(--gray400) !important; cursor: default; }
.btn_sml:hover,
.btn_lg:hover {background-color: #1967D6;}
.btn_sml:active,
.btn_lg:active {background-color: #1251AA;}
.btn_lg.w100 {width: 100%;}

/* header */
.header {position: fixed; top: 0; left: 0; z-index: 100; display: grid; grid-template-columns: minmax(200px, 1fr) minmax(720px, 1120px) minmax(200px, 1fr); width: 100%; height: 70px; background-color: #fff; transition: all 0.2s;}
.header.scr {box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);}
.header > .hd_inner {display : flex; align-items: center; justify-content: space-between; height: 100%;}
.header .logo > a img {height: 50px;}

/* main */
.main {padding-top: 70px;}
.main_bgbox {width: 100%; height: 540px; background-color: #CFE5FF;}
.main_bgbox .bgbox_inner {display: flex; align-items: flex-end; justify-content: space-between; max-width: 1110px; width: 100%; height: 100%; margin: 0 auto; }
.main_bgbox .cont {padding-bottom: 100px;}
.main_bgbox .cont .tit {font-size: 40px; font-weight: 700; line-height: 1.4;}
.main_bgbox .cont .btn {margin-top: 32px;}
.main_bgbox .thum img {width: 746px;}

.main_mid > .mid_inner {max-width: 988px; width: 100%; margin: 0 auto;}
.main_mid .main_list > li {padding: 138px 0;}
.main_mid .main_list > li > .box {overflow: hidden; display : flex; align-items: center; justify-content: space-between; gap: 64px; background-color: #FCFCFC; border-radius: 12px;}
.main_mid .main_list > li .thum img {display: block; height: 444px;}
.main_mid .main_list > li .cont {flex:1; padding-right: 42px; word-break: keep-all;}
.main_mid .main_list > li:nth-child(even) .cont {order: -1; padding-left: 42px; padding-right: 0; text-align: right;}
.main_mid .main_list > li .cont .cate {margin-bottom: 12px; color: var(--blue); font-size: 18px; font-weight: 700; line-height: 1.4444;}
.main_mid .main_list > li .cont .tit {margin-bottom: 24px; font-size: 40px; font-weight: 700; line-height: 1.4;}
.main_mid .main_list > li .cont .desc {font-size: 24px; font-weight: 500; line-height: 1.3333;}

.main_bgbox.main_btm {position: relative; margin-top: 138px;}
.main_bgbox.main_btm::before {content: ''; position: absolute; bottom: 100%; left: 0; display: block; width: 100%; height: 138px; background-color: #fcfcfc;}
.main_bgbox.main_btm .cont {padding-bottom: 172.5px;}

/* footer */
.footer {background-color: var(--gray900); height: 160px; padding-top: 32px;}
.footer > .ft_inner {display : flex; align-items: center; justify-content: center; max-width: 1120px; width: 100%; margin: 0 auto;}
.footer .copy {flex:1; color: var(--gray400); font-size: 16px; font-weight: 400;}
.footer .ft_menu {flex:1; display : flex; align-items: center; justify-content: center;  font-size: 16px; font-weight: 400;}
.footer .ft_menu > li {padding: 0 15px;}
.footer .ft_menu > li > a {color: var(--gray200);}
.footer .ft_icon {flex:1; display : flex; align-items: center; justify-content: flex-end;}
.footer .ft_icon > li + li {margin-left: 12px;}
.footer .ft_icon > li > a > img {height: 18px;}

/* 로그인, 회원가입 */
.form_section {max-width: 640px; width: 100%; margin: 0 auto; padding: 150px 0;}
.form_section .form_hd {display : flex; justify-content: center; margin-bottom: 40px;}
.form_section .form_hd img {height: 132px;}
.form_box {}
.form_box .form_inp_list {}
.form_box .form_inp_list > li + li {margin-top: 24px;}
.form_box .form_inp_list > li .tit {display: block; margin-bottom: 16px; font-size: 18px; font-weight: 700; line-height: 1.4444;}
.form_box .form_inp_list > li .desc {position: relative;}
.form_box .form_inp_list > li .desc .btn {position: absolute; right: 24px; top: 50%; width: 24px; height: 24px; background: url(/img/btn_visibility_off.svg) no-repeat 50% 50% / 24px; transform: translateY(-50%);}
.form_box .form_inp_list > li .desc .btn.active {background: url(/img/btn_visibility_on.svg) no-repeat 50% 50% / 24px;}
.form_box .form_btn {margin-top: 24px; }
.form_box .form_btn > .a_btn {width: 100%;}
.form_box .form_simple {display : flex; align-items: center; justify-content: space-between; margin-top: 24px; padding: 16px 23px; background-color: #E6F2FF; border-radius: 8px;}
.form_box .form_simple > p {font-size: 16px; font-weight: 500; line-height: 1.625;}
.form_box .form_simple > ul {display : flex;}
.form_box .form_simple > ul > li + li {margin-left: 16px;}
.form_box .form_simple > ul > li > a img {height: 42px;}
.form_box .link {margin-top: 24px; text-align: center; font-size: 14px; font-weight: 500; line-height: 1.7142;}
.form_box .link > a {margin-left: 4px; color: var(--blue); text-decoration: underline; text-underline-offset: 2px;}
