.product_search {
  position: relative;
  width: 325px;
  height: 42px;
  margin-left: auto;
  padding-left: 44px;
  padding-right: 20px;
  background-color: #f3f4f6;
  border-radius: 12px;
}
.product_search::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("./../assets/icon_search.svg") no-repeat 50% 50% / cover;
}
.product_search > input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
.product_search > input::placeholder {
  color: #9ca3af;
}

.product_add_btn {
  margin-left: 12px;
}

.product_sort {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .item_list_wrap .tit_box {
    flex-wrap: wrap;
    gap: 8px 0;
    margin-bottom: 16px;
  }
  .item_list_wrap .tit_box .subtitle {
    order: 1;
  }
  .item_list_wrap .tit_box .product_add_btn {
    order: 2;
    margin-left: auto;
  }
  .item_list_wrap .tit_box .product_search {
    order: 3;
    width: calc(100% - 50px);
    margin-left: 0;
  }
  .item_list_wrap .tit_box .product_sort {
    order: 4;
    margin-left: auto;
  }
}
