.paging_box {
  margin-top: 40px;
}
.paging_box .paging_list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paging_box .paging_list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #e5e7eb;
  color: #6b7280;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
}
.paging_box .paging_list > li.disabled {
  cursor: no-drop;
}
.paging_box .paging_list > li + li {
  margin-left: 4px;
}
.paging_box .paging_list > li.active {
  background-color: var(--main);
  color: #fff;
  border-color: var(--main);
}
.paging_box .paging_list > li.next img {
  transform: rotate(180deg);
}
