.product_item .thum {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 16px;
  transition: all 0.2s;
}
.product_item .thum img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.product_item .thum:hover {
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.05);
}
.product_item .thum:hover img {
  transform: scale(1.1);
}
.product_item .content {
  margin-top: 16px;
}
.product_item .content .title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142;
}
.product_item .content .price {
  margin-top: 6px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.625;
}
.product_item .content .wish {
  display: flex;
  align-items: center;
  margin-top: 6px;
  cursor: pointer;
}
.product_item .content .wish .icon img {
  height: 16px;
}
.product_item .content .wish .num {
  margin-left: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}
