.name_area {display : flex; align-items: center; margin-top: 24px;}
.name_area .profile {width: 40px; height: 40px;  border-radius: 50px; overflow: hidden;}
.name_area .profile img {width: 100%; height: 100%; object-fit: cover;}
.name_area .name {margin-left: 16px;}
.name_area .name > p {font-size: 1.4rem; font-weight: 500; line-height: 1.7142; cursor: pointer;}
.name_area .name > p:hover {text-decoration: underline;}
.name_area .name > .date {color: #9CA3AF; font-size: 1.4rem; font-weight: 400; line-height: 1.7142;}
