.detail_btn {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
.detail_btn .btn_blue {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail_btn .btn_blue img {
  margin-left: 8px;
}
