.product_detaile_wrap {}
.product_detail_item {display : flex;}
.product_detail_item .thum {overflow: hidden; width: 486px; height: 486px; border-radius: 25px;}
.product_detail_item .thum img {width: 100%; height: 100%; object-fit: cover;}
.product_detail_item .content {display: flex; flex-direction: column; width: calc(100% - 510px); margin-left: 24px;}
.product_detail_item .content .tit {margin-bottom: 16px; font-size: 2.4rem; font-weight: 600; line-height: 1.3333;}
.product_detail_item .content .price {padding-bottom: 16px; margin-bottom: 24px; border-bottom: 1px solid #E5E7EB; font-size: 4.0rem; font-weight: 600;}
.product_detail_item .content .info {}
.product_detail_item .content .info + .info {margin-top: 24px;}
.product_detail_item .content .info > p {margin-bottom: 16px; font-size: 1.6rem; font-weight: 600; line-height: 1.625;}
.product_detail_item .content .info > .desc {color: #4B5563; font-size: 1.6rem; line-height: 1.625;}
.product_detail_item .content .info > .tag {display : flex; flex-wrap: wrap; gap:8px; }
.product_detail_item .content .info > .tag > li {padding: 6px 16px; background-color: #F3F4F6; border-radius: 50px; font-size: 1.6rem; font-weight: 400; line-height: 1.625; transition: all 0.2s; cursor: pointer;}
.product_detail_item .content .info > .tag > li:hover {box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);}
.product_detail_item .content .profile_box {display : flex; align-items: center; margin-top: auto; }
.product_detail_item .content .profile_box .wish_area {position: relative; margin-left: auto; display : flex; align-items: center; padding: 4px 12px; border: 1px solid #E5E7EB; border-radius: 35px; transition: all 0.2s;}
.product_detail_item .content .profile_box .wish_area:hover {box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);}
.product_detail_item .content .profile_box .wish_area::before {content: ''; width: 1px; height: 34px; background-color: #E5E7EB; position: absolute; left: -24px; top: 50%; transform: translateY(-50%);}
.product_detail_item .content .profile_box .wish_area .icon img {height: 24px;}
.product_detail_item .content .profile_box .wish_area .numb {margin-left: 4px; color: #6B7280; font-size: 1.6rem; font-weight: 500; line-height: 1.625;}
.product_detail_comment {margin-top: 40px; padding-top: 40px; border-top: 1px solid #E5E7EB;}
.product_detail_comment .comment_top .tit {margin-bottom: 9px; font-size: 1.6rem; font-weight: 600; line-height: 1.625;}
.product_detail_comment .comment_top .textarea_box {margin-bottom: 16px;}
.product_detail_comment .comment_top .textarea_box textarea {width: 100%; min-height: 104px; padding: 16px 24px; border-radius: 12px; background-color: #F3F4F6; resize:none; }
.product_detail_comment .comment_top .textarea_box textarea::placeholder {color: #9CA3AF;}
.product_detail_comment .comment_top > button {margin-left: auto;}
.product_detail_comment .comment_list {margin-top: 24px;}
.product_detail_comment .comment_list > li {position: relative; padding-bottom: 12px; padding-right: 40px; border-bottom: 1px solid #E5E7EB; word-break: keep-all;}
.product_detail_comment .comment_list > li + li {margin-top: 24px;}
.product_detail_comment .comment_list > li .comment_menu {position: absolute; top: 0; right: 0;}
.product_detail_comment .comment_list > li .comment_menu > button {display : flex; align-items: center; justify-content: center; width: 24px; height: 24px; border-radius: 4px; transition: all 0.2s;}
.product_detail_comment .comment_list > li .comment_menu > button:hover {background: #f3f4f6;}
.product_detail_comment .comment_list > li .comment_menu > ul {position: absolute; top: calc(100% + 10px); right: 0; border: 1px solid #D1D5DB; border-radius: 8px; background-color: #fff; overflow: hidden;}
.product_detail_comment .comment_list > li .comment_menu > ul > li {}
.product_detail_comment .comment_list > li .comment_menu > ul > li > button {width: 140px; height: 46px; text-align: center; color: #6B7280; font-size: 1.6rem; transition: all 0.2s;}
.product_detail_comment .comment_list > li .comment_menu > ul > li > button:hover {background: #f3f4f6;}
.product_detail_comment .comment_list > li .text_area {margin-bottom: 24px; font-size: 1.4rem; font-weight: 400; line-height: 1.7142;}

.detail_btn {margin-top: 64px; display : flex; justify-content: center;}
.detail_btn .btn_blue {display : flex; align-items: center; justify-content: center;}
.detail_btn .btn_blue img {margin-left: 8px;}
